<section>
  <div class="container">
    <div class="columns">
      <div class="column is-3" *ngFor="let item of productList; let i = index">
        <div class="product-wrap">
          <figure class="product-img image">
            <img [src]="item[productId].imgUrl" >
          </figure>
          <h4 class="product-title title is-6">{{item[productId].name}}</h4>
          <h4 class="product-price">{{item[productId].price | currency}}</h4>

          <a class="button button-default add-to-cart is-small" (click)="addToCart()">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</section>