/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
	margin: 0px;
	padding: 0px;
    background-color: #eeeeee;
	color: #2a2a2a;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Roboto', Helvetica, arial, sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

section{
    padding: 70px 0px;
    position: relative;
    overflow: hidden;
}